body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  .calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #8fb0b1;
  }
  .calculator input[type="button"] {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #e0e0e0;
    border-radius: 5px;
  }
  .calculator input[type="text"] {
    width: calc(100% - 20px);
    height: 60px;
    margin-bottom: 10px;
    font-size: 28px;
    text-align: right;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }